# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
run
classes
logs/debug.log
logs/latest.log
*.gz
/libs/GregTech Food Option-1.12.2-1.6.1.jar
